html body {
    border: 0px;
    height: 100%;
    width:  100%;
    background-color: black;

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 
.task{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    font-weight: bold;
    color: green;
    border-color: green;
    min-width: 300px;
    padding: 20px;
    
}

.date{
    color: grey;
}
.current{
    color: green;
    font-weight: bold;
    font-size: large;
    border: 0px;
    padding: 10px 0px 10px 0px;
}

.phase{
    color: black;
    font-size: large;
    border: 0px;
    padding: 10px 0px 10px 0px;
}